.block-pict {
  background-color: #f2f2f2;
  margin-top: 20px;

  &__body {
  }

  &_title {
    @include title700(14px, 48px);
    margin-top: 113px;
  }

  &_subtitle {
    @include subtitle600;
    margin-top: -11px;



    &::before {
      @include nextblueline(76px, 0px);
    }

    span {
      @include blueline(76px, 0px);
    }
  }
  @media (max-width: 810px) {
    &_subtitle {
      font-size: 32px;
    }
  }

  &_text {
    @include maintext(18px, 26px);
    padding-top: 46px;
    margin-bottom: 164px;
    span:first-child{
      padding-left: 5px;
    }
    span{
      padding-left: 2px;
    }
  }

  &_iphone {
    img {
      margin-left: -29px;
      padding-top: 33px;
    }
  }

  @media (max-width: 1208px) {
    &_iphone {
      display: flex;
      align-items: center;
      img {
        margin-left: 0;
        padding-top: 0;
        width: 90%;
      }
    }

  }
}
